<h1>Eat-Da-Burger</h1>

<img src="assets/images/burger.png" alt="Burger PNG" width="200" height="200"/>

<h2>Enter a burger you want to eat and then hit the submit button</h2>

<form class="create-form">

  <div class="form-group">
    <label for="burgerSubmit">Burger:</label>
    <input type="text" id="burgerSubmit" name="burger_name">
  </div>
  <br/>
  <button id="submitButton" type="submit">Submit</button>
</form>

 <br/>
<hr>
<div class="burgersToEat">
  <h3>Burgers To Eat</h3>
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        </li>
          <p>{{burger_name}}</p>
          <button class="devour" data-id="{{id}}" data-isDevoured="{{devoured}}">
          {{#unless devoured}}DEVOUR!{{/unless}}
        </button>
        </li>  
      {{/unless}}
    {{/each}}
  </ul>
</div>
<hr>
<div class="burgersEaten">
  <h3>Burgers That Have Been Devoured</h3>
  {{#each burgers}}
    {{#if devoured}}
      <p>{{burger_name}}</p>
    {{/if}}
  {{/each}}
</div> 